#roof{

  display:flex;
  justify-content: center;
  color: azure;
  margin-top:10px;
  background-color: rgb(121, 30, 121) ;
  border-radius: 10px;

    
}

body{

  background-color:rgb(0, 0, 0);
}

h2 {
  display: flex;
  justify-content:space-evenly;
  color:  azure;
  background-color: rgb(121, 30, 121)  ;
  padding-left: 30px;
  border-radius: 60px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.FirstLine{

 display: flex;
 justify-content:space-evenly;
 color: azure;

 
}

#btn1{

  border-radius: 10px;
  margin-top: 9px;
  margin-bottom: 9px;
  border-color:rgba(129, 14, 37, 0.532);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  
}
#btn1:hover{
  background-color:rgb(57, 206, 255)
}

.FirstLine:hover{
  background-color:rgba(129, 14, 37, 0.532);
  border-radius: 10px;
}

#soon{
  color: aliceblue;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#Copyright{
  margin-top: 90px;
  color: aliceblue;
  font-size: 9px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content:center;
}
 
.where{
  background-color:green;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}